<div class = "container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div style="float: left; width: 100%;">
        <div style="display: block; clear: left;">
          <div style="float: left;" title="Title">
            <img style="border: medium none; width: 45px; height: 45px;  background: url(&quot;http://openweathermap.org/img/w/<%= @current["weather"][0]["icon"].to_s %>.png&quot;) repeat scroll 0% 0% transparent;" alt="title" src="http://openweathermap.org/images/transparent.png" height="35" width="35">
            <span style="font-size: 20px; font-weight: bold"> <%= @current["name"] %>:  </span> 
          </div>
          <div style="float: left;">
            <div style="display: block; clear: left; font-size: medium; vertical-align: bottom;" title="weather_detail">
              <p>
                <b>Temperature:</b> <%= @current["main"]["temp"] %>°F | 
                <b>Low:</b> <%= @current["main"]["temp_min"] %>°F | 
                <b>High:</b> <%= @current["main"]["temp_max"] %>°F |
                <b>Clouds:</b> <%= @current["clouds"]["all"] %>% | 
                <b>Humidity:</b> <%= @current["main"]["humidity"] %>% | 
                <b>Wind:</b> <%= @current["wind"]["speed"] %> mph | 
                <b>Pressure:</b> <%= @current["main"]["pressure"] %> hpa
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="profile-banner" class="jumbotron">
    <h1>Welcome <%= @user.name%>!</h1>
    <p style="color: black;">Use this page to search for stock tickets or write a tweet</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>Twitter</h3>
      <span style="font-size: 16px; font-weight: bold" >Tweets:</span> <%=@user.tweet_count %>
      <span style="font-size: 16px; font-weight: bold" >Followers:</span> <%=@user.follower_count %>
      
      <%= form_tag("writetweet", method: "post", role:"form") do %>
        <div class="form-group"> 
         <%= text_area_tag(name="tweet",content=nil, options = {size: "60x3", maxlength: 140, placeholder: "What's happening?", class: "form-control"}) %>
         <br>
         <%= submit_tag("Tweet") %>
         </div> 
      <% end %>
      
      <% @tweets.each do |tweet| %>
        <div id="tweetbox" class="row wordwrap">
          <div class="col-xs-1">
           <img src="<%=tweet.user.profile_image_uri_https %>"/>
          </div>
          <div class="col-xs-11">
           <strong><%= tweet.user.name %></strong> @<%= tweet.user.screen_name %>
           <p><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}/status/#{tweet.id}" %></p>
          </div>
        </div>
      <% end %>
    </div>
      <div class="col-md-9">
      <h2>Top Stocks</h2>
        <p2> 
          <b>Search for Individual Stock (by symbol): </b>
          <%= form_tag(:action => "stock_detail", :controller=>"stock", method: "post") do %>
            <%= text_field_tag(name="ticker",content=nil, options = {size: "20x1", maxlength: 25, placeholder: "Enter Ticker Symbol"}) %>
            <%= submit_tag("Search") %>
          <% end %> 
        </p2>
        
        <br> <br>
      
        <p1>
          <div class="panel-group" id="accordion">
            <% @stocks.each do |s| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#<%= s.symbol %>"><%= s.name %></a>
                  </h4>
                </div>
                <div id="<%= s.symbol %>" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <b><%= s.name %> (<%= s.symbol %>)</b> <br />
                    <u>Value</u>: <%= s.ask %> 
                
                    <% red = "ff0000" %>
                    <% green = "00ff00" %>
                    <% color = ( (s.change).include? "-") ? red : green %>
                    (<font color=<%= color %>>  <%= s.change %> </font>) 
                
                    <br><u>High</u>: <%=s.high %> <u>Low</u>: <%= s.low %> <u>End</u>: <%= s.bid %> <br />
                  </div>
                </div>
              </div>
            <% end %> 
          </div>

        </p1>
        
      </div>
  </div>
</div>
