<div id="stock_header" class="container">
  <div class="row">
    <div class="text-center">

      <!-- favorite button -->
      <button id="btnStar" type="button" class="btn btn-secondary btn-lrg" >
        <% star_glyph = @user.stocks_following.include?(@stock.symbol)? "glyphicon-star" : "glyphicon-star-empty" %>
        <span class="glyphicon <%= star_glyph %> gi-15x"></span>
      </button>
      
      <!-- stock name -->
      <span id="stock_name_display" class="well well-sm" style="font-size: 35px; font-weight: bold"> 
        <%= @singleStock.symbol %>
      </span> 
      
      <!-- buy button -->
      <button id="btnBuy" class="btn btn-secondary">Buy</button>
      
      <!-- sell button -->
      <button id="btnSell" class="btn btn-secondary">Sell</button>
    </div>
  </div>
</div>

<div id="stock_graph" class="row" >
  <!-- graph of the given stock -->
  <img src="http://chart.finance.yahoo.com/z?s=<%=@singleStock.symbol%>&t=6m&q=l&l=on&z=s&p=m50,m200" >
</div>
  
<!--detailed table -->
<div id="stock_info" class="container" style="width: 80%">
  <div class="row">
    <table id="tblStockInfo" class="table table-hover" > 
      
      <tr> <td>Current Price</td> <td><%= @singleStock.ask %></td> </tr>
      
      <tr> <td>Change</td> <td><%= @singleStock.change_and_percent_change%></td> </tr>
      
      <tr> <td>Day High</td> <td><%= @singleStock.high %></td> </tr>
      
      <tr> <td>Day Low</td> <td><%= @singleStock.low %></td> </tr>
      
      <tr> <td>Year High</td> <td><%= @singleStock.high_52_weeks %></td> </tr>
      
      <tr> <td>Year Low</td> <td><%= @singleStock.low_52_weeks %></td> </tr>
      
    </table>
  </div>
</div>
  
  
<!--notes on the stock--> 
<div id="stock_notes" >
  <% if( !@singleStock.notes.blank?) 
    puts "<h3>Notes:</h3>"
    puts "<p> @singleStock.notes %></p>"
    %>
</div>

  
<!-- personalized stock notes -->
<div id="stock_transaction_history">
    
    <!--Shares Owned
    <h4>Shares Owned: </h4>
    -->
    
    <!--Earnings 
    <h4>Earnings: </h4>
    -->

    <!--List of transactions
    <h4>Transactions: </h4>
    -->
</div>
