<!DOCTYPE html>
<html>
<head>
  <title>Twitter stocks</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Twitter Stocks</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-calendar"></span>Calendar</a>
      </li>
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-stats"></span>Stocks</a>
      </li>
    </ul>
  </div>
</nav>
<div id="content">
<%= yield %>
</div>
</body>
</html>
